* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #dfe0ff; 
    color: #333;
}

p {
    padding-top: 10px;
}

a.nlink:link, a.nlink:visited, a.nlink:hover, a.nlink:active { 
    color: inherit;
    text-decoration: none; 
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    width: 90vw;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 75vh;
    position: relative;
}
h1 {
    text-decoration:none;
    color: lightskyblue;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.menu-toggle {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    left: 20px;
}
.popup-menu {
    position: fixed;
    margin-top: 60px;
    left: 0px;
    width: 250px;
    height: 80%;
    display: none;
    align-items: left;
    justify-content: left;
    z-index: 10000;
}

.popup-menu.show {
    display: flex;
}

.popup-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.success{
    padding-top: 0px;
    color: green;
}
.error{
    padding-top: 0px;
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}
li{
    text-align: left;
    display: block;
    background-color: rgb(200, 215, 243);
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
form{
    margin-bottom: 20px;
}

.member{
    color: white;
    font-size: 15px;
    position: fixed;
    top: 8px;
    right: 10px;
}

input {
    padding: 3px;
    margin-top: 6px;
    font-size: 12px;
    text-align: center;
    display: block;
}
.formtxt{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
button {
    margin-top: 10px;
    padding: 3px 3px;
    font-size: 13px;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
    color:black;
    cursor: pointer;
    text-align: left;
}
.inline-text {
    margin: 0;
    padding: 0;
    display: inline;
}
.my-rating {
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
    gap: 5px;
    direction: rtl
}
.my-rating input {
    position: absolute;
    opacity: 0;        
}
.my-rating label {
    cursor: pointer;
    color: lightgray;
    transition: color 0.8s;
}
.my-rating input:checked ~ label {
    color: gold;
}
.message { font-size: 18px; margin-top: 10px; }
h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
h2{
    margin-bottom: 20px;
}
#login{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
#signup{
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 1000;
}
a.nlink:link, a.nlink:visited, a.nlink:hover, a.nlink:active {
    color: inherit;
    text-decoration: none;
}
li{
    text-align: left;
    display: block;
    background-color: rgb(200, 215, 243);
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.review-prompt {
    margin-bottom: 4px;
}

.comment-textarea {
    height: 100px;
}

.review-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-label {
    background-color: rgb(226, 235, 236);
}

.review-rating {
    color: rgb(110, 109, 98);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.review-timestamp {
    margin: 0;
    color: grey;
}
.left {
    text-align: left;
}
.mg-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.latest-review {
    margin-top: 10px !important;
}
.edit-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
.form-button{
    margin: 0px;
}
.dob{
    width: 180px;
}

/*from stackoverflow not mine */

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 8%;
}
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 1%;
}
input::-webkit-datetime-edit {
    position: relative;
    left: 1%;}
