{% extends "base.html" %}
{% block title %} Add {{session['type'].capitalize()}}s - MG Reviews {% endblock %}
{% block content %}

<h2 class="left"><u>Add {{session['type'].capitalize()}}s</u></h2>
<div class="ui form">
    <form method="POST">
        {% if message %}
            <p class="formtxt {{ category }}">{{ message }}</p>
        {% endif %}
        <div class="three fields">
            <div class="field">
                <label>{{session['type'].capitalize()}} Name</label>
                <input type="text" name="name" placeholder="{{session['type'].capitalize()}} Name" required>
            </div>
            <div class="field">
                <label>Genre</label>
                <input type="text" name="genre" placeholder="Genre" required>
            </div>
            <div class="field">
                <label>Year</label>
                <input type="number" name="year" placeholder="Year" required>
            </div>
        </div>
        <button type="submit">Add {{session['type'].capitalize()}}</button>
    </form>
</div>

{% endblock %}
