<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}MG Reviews{% endblock %}</title>
</head>
<body>
    <header class="header">
        <h1><a href="{{ url_for('index') }}" class="nlink">MG Reviews</a></h1>
    </header>
    <button class="menu-toggle" onclick="togglePopup()"><i class="bars icon"></i></button>
    {% if session.get('username') %}
        <p class="member">{{ session['username'].capitalize()}}</p>
    {% else %}
        <p class="member">Guest</p>
    {% endif %}    
    <div id="popupMenu" class="popup-menu">
        <div class="popup-content">
            <nav>
                <a class="ui basic blue button" href="{{ url_for('index') }}"><i class="home icon"></i>Home</a>
                <a class="ui basic blue button" href="{{ url_for('browse_reviews') }}"><i class="file video icon"></i>Browse</a>
                <a class="ui basic blue button" href="{{ url_for('add') }}"><i class="plus square outline icon"></i>Add</a>
                <form action="{{ url_for('index') }}" method="POST" style="margin:0px">
                    <button type="submit" class="ui button teal" name="type" value="movie">Movies</button>
                </form> 
                <form action="{{ url_for('index') }}" method="POST" style ="margin:0px">
                    <button type="submit" class="ui button" name="type" value="game">Games</button>
                </form>
                <a class="ui basic blue button" href="{{ url_for('login') }}"><i class="sign in icon"></i>Log in</a>
                <a class="ui basic blue button" href="{{ url_for('signup') }}"><i class="add user icon"></i>Sign up</a>
                <a class="ui basic red button" href="{{ url_for('logout') }}"><i class="sign out icon"></i>Log Out</a>
            </nav>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>© 2024 MG Reviews</footer>
</body>
</html>
