{% extends "base.html" %}
{% block title %}Browse Reviews - MG Reviews{% endblock %}
{% block content %}

<!-- Dropdown filter button with options to filter reviews based on time -->
<div class="ui labeled teal icon top right pointing dropdown button">
    <i class="filter icon"></i>
    <span class="text">Filter {{session['type'].capitalize()}}s</span>
    <div class="menu">
        <!-- Dropdown header with an icon -->
        <div class="header">
            <i class="calendar icon"></i>
            Filter By Latest Review
        </div>
        <!-- Filter options with corresponding links -->
        <a class="item" href="{{ url_for('browse_reviews', filter='10mins') }}">
            <i class="olive circle icon"></i> Last 10 mins
        </a>
        <a class="item" href="{{ url_for('browse_reviews', filter='1hour') }}">
            <i class="violet circle icon"></i> Last hour
        </a>
        <a class="item" href="{{ url_for('browse_reviews', filter='today') }}">
            <i class="orange circle icon"></i> Today
        </a>
        <a class="item" href="{{ url_for('browse_reviews', filter='all') }}">
            <i class="blue circle icon"></i> All
        </a>
    </div>
</div>
<!-- Page heading that dynamically displays the type of content (Movies or Games) -->
<h2 class="left"><u>All {{session['type'].capitalize()}}s</u></h2>
<!-- List of reviews displayed dynamically based on the items provided -->
<ul class="review-list">
    {% for ID, title, genre, year, rating, latest_review in items %}
        <!-- Link wrapping each review item to redirect to the review page (nlink is for no underlines)-->
        <a href="{{ url_for('review', id=ID) }}" class="nlink">
            <li class="mg-item">
                <h3 class="ui dividing blocked header"><strong>{{title}}</strong></h3>
                <div class="ui teal label">{{genre}} <div class="detail">Genre</div></div>
                <div class="ui teal label">{{year}} <div class="detail">Year Released</div></div>
                <div class="ui teal label">{{rating}} <div class="detail">Rating</div></div>
                <p class="latest-review">Latest review on: {{ latest_review if latest_review else "No reviews yet" }}</p>
            </li>
        </a>
    {% endfor %}
</ul>

{% endblock %}
