{% extends "base.html" %}
{% block title %}Home - MG Reviews{% endblock %}
{% block content %}
<section>
    <h2>Welcome to MG Reviews</h2>
    <!-- Warning if any -->
    {% if warning %} 
        <div class="ui container">
            <div class="ui warning message">
                <div class="header">{{warning}}</div>
            </div>
        </div>
    {% endif %}
    <br>
    <p>Your trusted platform for honest reviews on a wide range of movies and games.</p>
    <!--Link to movie browsing-->
    <a href="{{ url_for('browse_reviews') }}" class="ui button teal">Browse All Reviews</a>
</section>
{% endblock %}
