{% extends "base.html" %}
{% block title %} Reviews - Movie Reviews {% endblock %}
{% block content %}

<div class="ui segment">
    {% if not session['username'] %}
        <div class="ui dimmer active">
            <h2 class="ui inverted header latest-review">Log in to access content.</h2>
            <a href="{{ url_for('login') }}" class="ui teal button">Log In</a>
            <a href="{{ url_for('signup') }}" class="ui teal button">Sign Up</a>
        </div>
    {% elif session['age'] < age_min %}
    <div class="ui dimmer active">
        <h2 class="ui inverted header latest-review">You must be at least {{age_min}} years old.</h2>>
    </div>
    {% endif %}
    <div class="{% if not session['username'] or session['age'] < age_min %} ui dimmable dimmed blurring segment{% endif %}">
        <h2>{{title}}</h2>
        <div class="ui teal label large">{{genre}} <div class="detail">Genre</div></div>
        <div class="ui teal label large">{{year}} <div class="detail">Year Released</div></div>
        <div class="ui teal label large">{{rating}} <div class="detail">Rating</div></div>
        <br><br><hr>
        <p class="review-prompt">What did you think of it?</p>
        <form action="{{ url_for('add_review', id=item) }}" method="post" class="ui form">
            {% if message %}
                <p class="formtxt {{ category }}">{{ message }}</p>
            {% endif %}
            <p class="formtxt">Select a star rating here</p>
            <div class="my-rating">
                <input type="radio" name="stars" id="star5" value="5" required="required"><label for="star5">★</label>
                <input type="radio" name="stars" id="star4" value="4"><label for="star4">★</label>
                <input type="radio" name="stars" id="star3" value="3"><label for="star3">★</label>
                <input type="radio" name="stars" id="star2" value="2"><label for="star2">★</label>
                <input type="radio" name="stars" id="star1" value="1"><label for="star1">★</label>
            </div>
            <div class="field">
                <p class="formtxt">Discussion</p>
                <textarea name="comment" placeholder="Comment" class="comment-textarea"></textarea>
            </div>
            <button type="submit">Add Review</button>
        </form>
        <hr>
        <h3>Critics Reviews</h3>
        <ul>
            {% for column in main %}
                <li class="item review-item">
                    <div class="review-header">
                        <div class="ui label user-label">
                            <i class="user icon"></i> {{ column[1] }}
                            <p class="review-rating">{{ '★' * (column[2] | int) }}{{ '☆' * (5 - (column[2] | int)) }}</p>
                        </div>
                        <p class="review-timestamp">{{ column[5][:-3] }}</p>
                    </div>
                    {% if session['username'] == column[1] %}
                        {% if request.args.get('edit') == column[0] | string %}
                            <form action="{{ url_for('edit_review', id=item, review_id=column[0]) }}" method="post">
                                <p>Please reselect the rating:</p>
                                <div class="ui star rating" data-rating="0" data-max-rating="5"></div>
                                <input type="hidden" name="stars" id="starsInput">
                                <textarea name="comment" rows="3" class="edit-textarea">{{ column[3] }}</textarea>
                                <button type="submit">Save</button>
                                <a href="{{ url_for('review', id=item) }}">Cancel</a>
                            </form>
                        {% else %}
                            <p>{{ column[3] }}</p>
                            <div class="extra content">
                                <a href="{{ url_for('review', id=item, edit=column[0]) }}">Edit</a> | 
                                <a href="{{ url_for('delete_task', id=item, review_id=column[0]) }}">Delete Review</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>{{ column[3] }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
